@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,400;1,600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

/* Global Declarations */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}
table, th, td {
  font-size: 20px;
    padding: 10px;
}
th, td{
  color:#001eff;
}
.countdown{
  text-align: center;
  padding:25px;
  border:1px solid black;
}
input[type="button"]{
  padding: 5px 10px;
  
}
h1{
  text-shadow: 2px 2px grey;
  color: burlywood;
}
table{
  margin: 0 auto;
}
button{
  padding: 5px 15px;
  text-transform: uppercase;
}
button.start,.restart,.resume{
  color: green;
  
}
button.pause{
  color: orange;
}
button.stop{
  color: red;
}
button.reset{
  color: red;
}